@font-face {
  font-family: "Ryman Eco";
  src: url("/font/Ryman-Regular.woff2") format("woff2"),
    url("/font/Ryman-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #fffff0 !important;
}

h1 {
  font-family: "Ryman Eco", sans-serif;
  font-weight: lighter;
}

/**SECTION 1**/
.sec1 .container {
  position: relative;
  width: 100%;
  height: 750px;
}

.background-vertical {
  display: flex; 
  width: 100%;
  height: 750px; 
}

.image {
  flex: 1; 
  background-size: cover; 
  background-position: center; 
}

.image:nth-child(1) {
  background-image: url(/média/Savane.jpg);
  filter: blur(3px); /* Deuxième image */
}

.image:nth-child(2) {
  background-image: url(/média/jungle.jpg);
  filter: blur(3px); /* Première image */
}

.image:nth-child(3) {
  background-image: url(/média/marais.jpg);
  filter: blur(3px); /* Troisième image */
}

.background-vertical::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(102, 205, 170, 0.3); /* Couleur verte transparente */
  z-index: 2; /* Place la superposition de couleur au-dessus de l'image floue */
}
.sec1 h1 {
  font-size: 150px;
  position: absolute;
  color: #fffff0;
  text-align: center;
  padding-bottom: 50px;
  z-index: 3;
}

.sec1 p {
  font-size: 26px;
  position: absolute;
  color: #fffff0;
  text-align: center;
  font-weight: 100;
  z-index: 3;
}

.blop_page-aniamaux {
  position: absolute;
  text-align: center;
  padding-bottom: 50px;
  z-index: 3;
}
@media (max-width: 900px) {
  .sec1 h1 {
    font-size: 64px;
    padding-bottom: 50px;
  }
  .sec1 h2 {
    font-size: 40px;
  }
}
.photo-background .shap-divider img {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  z-index: 2;
}

.animal-card .card {
  border: none;
  box-shadow: none;
  background: transparent;
}

.animal-card .card-body {
  text-align: center;
  padding-top: 10px;
}

.animal-card img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
}
